{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
  {% for product in object_list %}
    <div>
        <img src="{% if product.image %}{{ product.image.url }}
            {% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1> <h2>
        <a href="{{ product.category.get_absolute_url }}">{{product.category }}</a> </h2>
        <p class="price">${{ product.price }}</p>
    </div>
  {% endfor %}
{% endblock %}