{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
	<div id="header">
    	<a href="/" class="logo">My shop</a>
	</div>
<div class='social'>
    <ul>
        <li class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
            Login with Google
            </a>
        </li>
        <li class="vk">
            <a href="{% url 'social:begin' 'vk-oauth2' %}">Login with VK</a>
        </li>
            <li class="facebook"><a href="{% url 'social:begin' 'facebook' %}">
            Signin with Facebook</a></li>
    </ul>
</div>
<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
	<div id="subheader">
    	<div class="cart">
            <a href="{% url 'cart:cart_detail' %}">Cart</a>
        </div> 
	</div>
	<div id="content">
    	{% block content %}
    	{% endblock %}
	</div>
</body>
</html>
